        <h4>Listado</h4>
        <ul class="list-group">
            <li *ngFor="let personaje of PersonajeList; 
            let i=index;
            let isFirst=first;
            let isLast=last;
            let isEven =even;
            let isOdd =odd;"  

            class="list-group-item d-flex justify-content-between align-items-center"
            [ngClass]="{'list-group-item-success': isEven}">
            <div>
              <span class="text-primary">{{ i + 1 }}. </span>
              <span>{{personaje.nombre}} - </span>
              <strong>Poder - </strong>
              <span>{{personaje.poder}}</span>
            </div>

              <!-- <button class="btn btn-danger" (click)="EliminarPersonaje(i)">X</button> -->
              <button class="btn btn-danger" (click)="EliminarPersonaje(personaje.id)">X</button>
            <!-- <span>Primero: {{isFirst}}</span>
            <span>Ultimo:  {{isLast }}</span>
            <span>Es par:  {{isEven }}</span>
            <span>Es inpar: {{isOdd }}</span> -->
          </li>
            
        </ul>
